/* orange */
/* red */
/* blue */
/* pink */
/* purple */
/* burgundy */
/* green */
/* light blue */
/* grey */
/* yellow */
/* dark grey */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  letter-spacing: -0.1px;
  font-size: 10px;
  color: #aaa;
  width: 960px;
  margin: 1em auto;
  position: relative;
  text-align: center;
  background-color: #333;
}

/*
h1, h2, .dimension text {
  text-align: center;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  color:#fff;
}
*/
.category text {
  fill: #999;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

h1 {
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  letter-spacing: 1.3px;
  font-size: 30px;
  margin-top: 40px;
  color: #aaa;
  text-transform: uppercase;
}

h2 {
  letter-spacing: -0.8px;
  font-size: 21px;
  margin-top: 10px;
  color: #fff;
}

p.meta, p.footer {
  font-size: 10px;
  color: #fff;
}

p.meta {
  text-align: center;
}

text.icicle {
  pointer-events: none;
}

.options {
  font-size: 10px;
  text-align: center;
  padding: 5px 0;
}

.curves {
  float: left;
}

.source {
  float: right;
}

.dimension {
  cursor: ns-resize;
}

.category {
  cursor: ew-resize;
}

.dimension tspan.name {
  font-size: 10px;
  color: #aaa;
  letter-spacing: -0.2px;
  opacity: 0;
}

.dimension tspan.sort {
  fill: #aaa;
  cursor: pointer;
  opacity: 0;
}

.dimension tspan.sort:hover {
  fill: #aaa;
}

.dimension:hover tspan.name {
  fill: #aaa;
}

.dimension:hover tspan.sort {
  opacity: 1;
}

.dimension line {
  stroke: rgba(0, 0, 0, 0.6);
  text-align: center;
}

line.category-0 {
  stroke: #be5021;
  stroke-width: 60px;
}

line.category-1 {
  stroke: #9b0e0d;
}

line.category-2 {
  stroke: #40709c;
}

text.text-0 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1px;
  fill: #fff;
  font-size: 14px;
}

text.text-1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1px;
  fill: #fff;
  font-size: 14px;
}

text.text-2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1px;
  fill: #fff;
  font-size: 14px;
}

.dimension rect {
  stroke: none;
  fill-opacity: 0;
}

.dimension > rect, .category-background {
  fill: #aaa;
}

.dimension > rect {
  display: none;
}

.category:hover rect {
  fill-opacity: .3;
}

.dimension:hover > rect {
  fill-opacity: .3;
}

.ribbon path {
  stroke-opacity: 0;
  fill-opacity: .2;
}

.ribbon path.active {
  fill-opacity: .9;
}

.ribbon-mouse path {
  fill-opacity: 0;
}

.category-0 {
  fill: #be5021;
  stroke: #be5021;
}

.category-1 {
  fill: #9b0e0d;
  stroke: #9b0e0d;
}

.category-2 {
  fill: #40709c;
  stroke: #40709c;
}

.category-3 {
  fill: #ea9290;
  stroke: #ea9290;
}

.category-4 {
  fill: #784184;
  stroke: #784184;
}

.category-5 {
  fill: #841a19;
  stroke: #841a19;
}

.category-6 {
  fill: #a0c83c;
  stroke: #a0c83c;
}

.category-7 {
  fill: #78b3b2;
  stroke: #78b3b2;
}

.category-8 {
  fill: #b2aa9b;
  stroke: #b2aa9b;
}

.category-9 {
  fill: #eebb2c;
  stroke: #eebb2c;
}

.tooltip {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 10px;
  /*color: lighten($textColor, 40%);*/
  color: #fff;
  background-color: rgba(40, 40, 40, 0.9);
  position: absolute;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*# sourceMappingURL=d3.parsets.css.map */

/*# sourceMappingURL=d3.parsets.css.map */
