$category0: #be5021; /* orange */
$category1: #9b0e0d; /* red */
$category2: #40709c; /* blue */
$category3: #ea9290; /* pink */
$category4: #784184; /* purple */
$category5: #841a19; /* burgundy */
$category6: #a0c83c; /* green */
$category7: #78b3b2; /* light blue */
$category8: #b2aa9b; /* grey */
$category9: #eebb2c; /* yellow */
$textColor: #aaa; /* dark grey */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  letter-spacing: -0.1px;
  font-size: 10px;
  color: $textColor;
  width: 960px;
  margin: 1em auto;
  position: relative;
  text-align: center;
  background-color: #333;
}
/*
h1, h2, .dimension text {
  text-align: center;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  color:#fff;
}
*/

.category text {
   fill: #999;
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 0.1px;
}

h1 {
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  letter-spacing: 1.3px;
  font-size: 30px;
  margin-top: 40px;
  color: $textColor;
  text-transform: uppercase;
}
h2 {
  letter-spacing: -0.8px;
  font-size: 21px;
  margin-top: 10px;
  color: #fff;
}
p.meta, p.footer {
  font-size: 10px;
  color: #fff;
}
p.meta {
  text-align: center;
}

text.icicle { pointer-events: none; }

.options { font-size: 10px; text-align: center; padding: 5px 0; }
.curves { float: left; }
.source { float: right; }

.dimension {
  cursor: ns-resize;
}

.category {
  cursor: ew-resize;
}

.dimension tspan.name {
  font-size: 10px;
  color: $textColor;
  letter-spacing: -0.2px;
  opacity: 0;
}

.dimension tspan.sort {
  fill: $textColor;
  cursor: pointer;
  opacity: 0;
}

.dimension tspan.sort:hover {
  fill: $textColor;
}

.dimension:hover tspan.name {
  fill: $textColor;
}

.dimension:hover tspan.sort {
  opacity: 1;
}

.dimension line {
  stroke: rgba(0, 0, 0, 0.6);
  text-align: center;
}

line.category-0 {
  stroke: $category0;
  stroke-width: 60px;
}

line.category-1 {
  stroke: $category1;
}

line.category-2 {
  stroke: $category2;
}

text.text-0{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1px;
  fill: #fff;
  font-size:14px;
}

text.text-1{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1px;
  fill: #fff;
  font-size:14px;
}

text.text-2{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1px;
  fill: #fff;
  font-size:14px;
}

.dimension rect {
  stroke: none;
  fill-opacity: 0;
}

.dimension > rect, .category-background {
  fill: $textColor;
}

.dimension > rect {
  display: none;
}

.category:hover rect {
  fill-opacity: .3;
}

.dimension:hover > rect {
  fill-opacity: .3;
}

.ribbon path {
  stroke-opacity: 0;
  fill-opacity: .2;
}

.ribbon path.active {
  fill-opacity: .9;
}

.ribbon-mouse path {
  fill-opacity: 0;
}

.category-0 {
  fill: $category0;
  stroke: $category0;
}

.category-1 {
  fill: $category1;
  stroke: $category1;
}

.category-2 {
  fill: $category2;
  stroke: $category2;
}

.category-3 {
  fill: $category3;
  stroke: $category3;
}

.category-4 {
  fill: $category4;
  stroke: $category4;
}

.category-5 {
  fill: $category5;
  stroke: $category5;
}

.category-6 {
  fill: $category6;
  stroke: $category6;
}

.category-7 {
  fill: $category7;
  stroke: $category7;
}

.category-8 {
  fill: $category8;
  stroke: $category8;
}

.category-9 {
  fill: $category9;
  stroke: $category9;
}

.tooltip {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;
  font-weight: 300;
  font-size: 10px;
  /*color: lighten($textColor, 40%);*/
  color:#fff;
  background-color: rgba(40, 40, 40, 0.9);
  position: absolute;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*# sourceMappingURL=d3.parsets.css.map */
